@page "/"

<h1>Hello Dave</h1>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>
@functions {
DataModel data = new DataModel();
Ressource res = new Ressource("test", 1);

void IncrementCount()
{
    data.addRessource(res);
    res.label = "Test Res 1";
}
}
<div>@data.GetRessourceByName("test").label</div><div>@data.GetRessourceByName("test").value</div>